# Dependencies
node_modules/

# Python virtual environments
venv/
.venv/
pyvenv.cfg
bin/
lib/
include/

# Build outputs
dist/
build/

# Firebase
.firebase/
.firebaserc

# OS files
.DS_Store

# PyInstaller
*.spec
.vercel
